/ict-06/sundatabase_negative/*
/ict-06/sundatabase_positive/*

/ictex-07/exercise3/sundatabase_positive/*
/ictex-07/exercise3/sundatabase_negative/*
/ict_slide/*
/ict-12/data/*
/ex-team-project/*
/ict-14/data/*
データ・サイエンス社会応用論/
fin/
